<div class="row">
  <div class="col-sm-3 col-no-pad"></div>
  <div class="col-sm-6 col-no-pad">
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <div class="about">
            <p class="about-header">Contact Information</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-no-pad"></div>
</div>
