
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Chris Witman</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-xs-1 col-sm-2 col-md-3"></div>
  <div class="col-xs-10 col-sm-8 col-md-6">
    <% for i in 1..48 do %>
      <div class="card">
        <header>
          <div class="card-header">
            <p class="file"><%= i.to_s + ".jpg" %></p>
          </div>
        </header>

        <%= image_tag(i.to_s + ".jpg", :alt => "painting", class: "max") %>
        <div class="comments">0 Likes &nbsp;&nbsp;&nbsp; 0 Comments</div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-1 col-sm-2 col-md-3"></div>
</div>
